/* ===== STYLE DASAR ===== */
body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.subtitle {
    text-align: center;
    margin-bottom: 10px;
}

/* ===== KOTAK FORM ===== */
.box {
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    /* align-items: center; */
}

fieldset {
    border-radius: 8px;
    border: 1px solid #aaa;
}

/* ===== TABEL FORM ===== */
table {
    width: 100%;
}

.label {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

/* ===== INPUT ===== */
input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 5px;
}

/* ===== ERROR MESSAGE ===== */
.error {
    color: red;
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
}

/* ===== BUTTON ===== */
button, .button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* ===== TEXT CENTER ===== */
.center-text {
    text-align: center;
}

.center-button {
    text-align: center;
    align-items: center;
}