/* INI BAGIAN UNTUK TABEL MANAGE BUKU */
.tabelBukuContainer {
    padding: 40px;
    background-color: #f5f9ff;
    flex: 1;
}

.judulTabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.judulTabel button{
    background: #004d7a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.judulTabel button:hover {
    background: #00395a;
    transform: scale(1.05);
}

.tabelbuku {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tabelbuku th, .tabelbuku td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.tabelbuku th {
    background: #004d7a;
    color: #fff;
}

.tombolEdit, .tombolHapus {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  transition: 0.2s;
}

.tombolEdit { background: #6eab32; }
.tombolEdit:hover { background: #507b24;; }
.tombolHapus { background: #d9534f; }
.tombolHapus:hover { background: #a92924; }


/* INI BAGIAN TABEL UNTUK DAFTAR PEMUSTAKA  */
.tabelPemustakaContainer {
    padding: 40px;
    background-color: #f5f9ff;
    flex: 1;
}

.judulTabel {
    display: flex;
    justify-content: center; /* hanya judul di tengah */
    align-items: center;
    margin-bottom: 40px;
}

.judulTabel h1 {
    font-size: 24px;
    color: #004d7a;
    margin: 0;
}

.tabelpemustaka {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tabelpemustaka th, .tabelpemustaka td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.tabelpemustaka th {
    background: #004d7a;
    color: #fff;
}

.tabelpemustaka tr:nth-child(even) {
    background-color: #f9f9f9;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #777;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #555;
}